@import "tailwindcss";

.home-right {
  animation: upDown 2s ease-in-out infinite;
  box-shadow: 5px 5px 100px #00bcff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* move up */
  }
}


.link {
            color: black;
            text-decoration: none;
            transition: all 0.3s ease;
}
.link:hover {
            color:#0dcaf0;
            text-shadow: 5px 5px 10px #21464e;
            border-radius: 10px 0 10px 0;
}

.btn-home {
            color: black;
            text-decoration: none;
            transition: all 0.3s ease;
}
.btn-home:hover {
            transform: scale(1.1);
            color:white;
            text-shadow: 5px 5px 10px #21464e;
            box-shadow: 0px 0px 15px white;
            padding: 0px 10px;
}

.facebook i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            
            margin: 0 10px;
            transition: all 0.3s ease;
}

.facebook i:hover{
    background: #c0ebf4;
    transform: translateY(-5px);
    border-radius: 50%;
}

.X i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            
            margin: 0 10px;
            transition: all 0.3s ease;
}

.X i:hover{
    background: #c0ebf4;
    transform: translateY(-5px);
    border-radius: 50%;
}

.tiktok i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            
            margin: 0 10px;
            transition: all 0.3s ease;
}

.tiktok i:hover{
    background: #c0ebf4;
    transform: translateY(-5px);
    border-radius: 50%;
}

.telegram i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            
            margin: 0 10px;
            transition: all 0.3s ease;
}

.telegram i:hover{
    background: #c0ebf4;
    transform: translateY(-5px);
    border-radius: 50%;
}


/* @media (max-width:700px) {
    .search{
    display: block;
}
} */